{{#section 'js_forgotPass'}}
    <script>
        $('#frmForgotPass').on('submit', function (e) {
            e.preventDefault();
            const username = $('#txtUsername').val();
            $.getJSON(`/account/is-available?username=${username}`, function (data) {
                if (data === false) {
                    if ($('#check-username').hasClass("is-hidden")) {
                        $('#check-username').removeClass("is-hidden");
                    }
                    return;
                } else {
                    $('#frmForgotPass').attr('action', `/account/login/forgotPassword?username=${username}`);
                    $('#frmForgotPass').off('submit').submit();
                }
            });
        });
    </script>
{{/section}}

<div class="has-text-centered">
    <div class="column is-4 is-inline-block box my-5">
        <form method="post" id="frmForgotPass">
            <div class="card-header-title is-inline-block is-size-4-tablet is-size-4-mobile">QUÊN MẬT KHẨU</div>

            {{#if this.errMessage}}
                <div class="notification is-warning">
                    <button class="delete"></button>
                    <strong>Đăng nhập thất bại, </strong>{{errMessage}}
                </div>
            {{/if}}

            <div class="field has-text-left">
                <label class="label" for="txtUsername">Tài khoản</label>
                <div class="control has-icons-left has-icons-right ">
                    <input
                            class="input"
                            type="text"
                            placeholder="Nhập tài khoản"
                            id="txtUsername"
                            name="username"
                    />

                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>

                    <span class="icon is-small is-right">
                    </span>
                </div>
                <p class="help is-danger is-hidden" id="check-username">Tài khoản không tồn tại</p>
                <label class="has-text-danger">
                    <i> *Vui lòng kiểm tra email để nhận mật khẩu mới!</i>
                </label>
            </div>
            <div class="field is-grouped is-justify-content-center mt-6">
                <div class="control">
                    <button class="button is-link is-success" type="submit">Lấy lại mật khẩu</button>
                </div>
            </div>
        </form>
    </div>
</div>